<h2>Reporter output</h2><table><tr><td><div style="display:block;margin-left:10px;"><div  class="teststepfail"><span class="teststepfail-label">T </span>Given user opens the application <a href="test-results/25_Apr_2018_01_19_PM/img/SampleTest_i4gssn0qs77717154.png" target="_blank">[View Screenshot]</a> </div><div style="display:block;margin-left:10px;"><div  class="fail"><span class="fail-label">F </span>com.qmetry.qaf.automation.ui.webdriver.QAFExtendedWebDriver cannot be cast to io.appium.java_client.AppiumDriver</div></div></div></td></tr>
</table>